a{
    text-decoration: none;
}

.bookings{
    margin-top: 30px;
    margin-bottom: 200px;
}

div.header{
    text-align: center;
    margin: 30px;
    font-size: 2rem;
}
body > table{
    margin-top: 30px;
    width: 80%;
    
    
}

table{
    margin-top: 100px;
    border-collapse: collapse;
    
}
table.list{
    margin-top: 20px;
    width:80%;
    margin: auto;
}

td, th {
    font-size: 1.5rem;
    margin-top: 20px;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 15px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

/*  */

